
# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
crash.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Lambda packaging
*.zip

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
